{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "gapi": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": "off",
    "no-debugger": "warn",
    "no-console": "warn"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
