.accountsPage {
  lost-flex-container: row;

  .accountList {
    lost-column: 1/4;
  }

  .transactionList {
    lost-column: 3/4;
    box-sizing: border-box;
    border-left: 2px solid ~colors.primaryDark;
  }
}
