.recurringTransaction {
  &:nth-child(odd) {
    background: ~colors.secondaryLight;
  }

  .extra {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 5px;

    .saveExit {
      align-self: flex-end;
    }
  }
}

.recurringTransactionFields {
  lost-flex-container: row;
  padding: 5px;

  .recurringTransactionField {
    lost-column: 1/4;
    box-sizing: border-box;
    padding: 5px;

    &.details {
      lost-column: 3/4;
      lost-flex-container: row;

      .detail {
        lost-column: 1/2;
      }
    }

    &.nonEdit {
      cursor: pointer;
    }
  }

  /* autosuggest theming */
  .container {
    lost-column: 1/4;
    position: relative;
  }
  .containerOpen {}
  .input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
  }
  .suggestionsContainer {
    position: absolute;
    background: ~colors.primaryLight;
    width: 100%;
    box-shadow: 0 3px 5px #888888;
    z-index: 1;
  }
  .suggestionsList {
    margin: 0;
    padding: 0;
  }
  .suggestion {
    padding: 5px;
    box-sizing: border-box;
    list-style-type: none;
  }
  .suggestionFocused {}
  .sectionContainer {}
  .sectionTitle {}
}
