.transaction {
  lost-flex-container: row;

  &:nth-child(odd) {
    background: ~colors.secondaryLight;
  }

  .transactionField {
    lost-column: 1/6;
    box-sizing: border-box;
    padding: 5px;
  }
}
