.transaction {
  &:nth-child(odd) {
    background: ~colors.secondaryLight;
  }

  .saveExit {
    display: flex;
    justify-content: flex-end;
    padding: 0 5px 5px;
  }
}

.transactionFields {
  lost-flex-container: row;
  padding: 5px;

  .transactionField {
    lost-column: 1/4;
    box-sizing: border-box;
    padding: 5px;

    &.nonEdit {
      cursor: pointer;
    }
  }

  /* autosuggest theming */
  .container {
    lost-column: 1/4;
  }
  .containerOpen {}
  .input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
  }
  .suggestionsContainer {
    display: none;
  }
  .suggestionsList {}
  .suggestion {}
  .suggestionFocused {}
  .sectionContainer {}
  .sectionTitle {}
}
