.accountsTitle {
  margin-left: 10px;
}

.accountButton {
  background: ~colors.primaryLight;
  border: none;
  width: 100%;
  text-align: left;

  &:nth-child(odd) {
    background: ~colors.secondaryLight;
  }

  &:focus {
    outline: none;
  }

  .accountName {
    font-size: 16px;
    margin: 10px;
  }

  .accountBalance {
    color: ~colors.secondaryDark;
    margin: 10px;
  }
}
