.accountsTitle {
  margin-left: 10px;
}

.accountButton {
  background: #e3e3e3;
  border: none;
  width: 100%;
  text-align: left;

  &:focus {
    outline: none;
  }

  &:first-child:nth-last-child(n+2) {
    border-bottom: 1px solid #707070;
  }

  .accountName {
    font-size: 16px;
    margin: 10px;
  }

  .accountBalance {
    color: #808080;
    margin: 10px;
  }
}
